services:
  hmpps-auth:
    image: ghcr.io/ministryofjustice/hmpps-auth:latest
    networks:
      - hmpps
    depends_on:
      - delius
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://hmpps-auth:9090/auth/health" ]
      interval: 5s
      retries: 60
    environment:
      - SERVER_PORT=9090
      - SPRING_PROFILES_ACTIVE=dev,delius
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY=DEBUG
      - DELIUS_ENDPOINT_URL=http://delius:8080

  postgres:
    image: postgres
    restart: always
    networks:
      - hmpps
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: dev
    tmpfs:
      - /var/lib/postgresql

  localstack:
    image: localstack/localstack:3
    networks:
      - hmpps
    environment:
      - SERVICES=sqs
      - LOCALSTACK_HOST=localstack:4566
      - DEBUG=1
      - DEFAULT_REGION=eu-west-2
      - AWS_DEFAULT_REGION=eu-west-2
      - USE_SSL=false
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "./docker/scripts/localstack/init:/etc/localstack/init/ready.d"
      - "./docker/scripts/localstack/wait:/scripts/wait"
    healthcheck:
      test: [ "CMD", "bash", "/scripts/wait/healthcheck.sh" ]
      interval: 5s
      timeout: 10s
      retries: 50

  delius:
    image: rodolpheche/wiremock
    volumes:
      - ./wiremock-delius:/home/wiremock
    networks:
      - hmpps
    command:
      - -verbose
      - -global-response-templating

  oasys-api:
    image: rodolpheche/wiremock
    volumes:
      - ./wiremock-oasys-api:/home/wiremock
    networks:
      - hmpps
    command:
      - -verbose
      - -global-response-templating

  community-api:
    image: rodolpheche/wiremock
    volumes:
      - ./wiremock-community-api:/home/wiremock
    networks:
      - hmpps
    command:
      - -verbose
      - -global-response-templating

  api:
    image: ghcr.io/ministryofjustice/hmpps-assess-risks-and-needs:${IMAGE_TAG:-latest}
    build:
      context: .
      target: production
    networks:
      - hmpps
    depends_on:
      - hmpps-auth
      - postgres
      - localstack
      - oasys-api
      - community-api
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://api:8080/health" ]
      interval: 5s
      retries: 100
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - OAUTH_ENDPOINT_URL=${OAUTH_ENDPOINT_URL:-http://hmpps-auth:9090/auth}
      - COMMUNITY_API_BASE_URL=http://community-api:8080
      - OASYS_API_BASE_URL=http://oasys-api:8080/eor/oasys
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY=DEBUG
      - DATABASE_ENDPOINT=postgres:5432
      - HMPPS_SQS_PROVIDER=localstack
      - HMPPS_SQS_LOCALSTACK_URL=http://localstack:4566
      - HMPPS_SQS_QUEUES_AUDIT_QUEUE_NAME=audit-queue
      - FEATURE_FLAGS_AUTH_ENABLED=false

networks:
  hmpps:
